// text colors
.text_primary{
    color: $text-primary;
}
.text_secondary{
    color: $text-secondary;
}

.text_white{
    color:$text-white;
}

// gray
.text_light_gray{
    color:$text-light-gray;
}
.text_extra_light_gray{
    color:$text-extralight-gray;
}
.text_bluegray{
    color:$text-bluegray;
}

// blue
.light_blue{
    color:$light-blue;
}

// background colors
.bg_primary{
    background-color: $bg-primary;
}
.bg_secondary{
    background-color: $bg-secondary;
}
.bg_light_blue{
    background-color:$bg-light-blue;
}
