@import "./mixin";
// navbar

.main_navbar{
  .nav_logo{
    width: 10rem;
    height: auto;
    object-fit: contain;
    overflow: hidden;
  }

  .nav-link{
    border-bottom: 1px solid transparent;
    &.active, &:hover{
      color: $text-white;
      border-bottom: 1px solid white;
    }
    &:focus{
      color: $text-white;
      // border-bottom: transparent !important;
    }
  } 
  .navbar-toggler{
    border:none;
    outline: none;
    &:focus{
      border: none;
      outline: none;
      box-shadow: none;
    }
  }
}
// home
.hero_section{
  padding-top:160px;
  padding-bottom: 195px;
  .hero_bg_right{
    aspect-ratio: 4/3;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
  }

@media(min-width:$breakpoint-xl){
    .fs_47{
      font-size: 2.359rem;
    }
    .fs_56{
      font-size: 3.003rem;
    }
    .fs_19_1 {
      font-size: 1rem;
    }
    padding-top: 110px;
    padding-bottom: 180px;
    .mb-26 {
      margin-bottom: 6.25rem !important;
    }
  }
@media(min-width:$breakpoint-lg){
    .fs_47 {
      font-size: 2.359rem;
    }
    .fs_56 {
      font-size: 3.003rem;
    }
    .fs_19_1 {
      font-size: 1rem;
    }
    padding-top: 100px;
    padding-bottom: 160px;
  
  .mb-26 {
    margin-bottom: 6.25rem !important;
  }
  .fs_14 {
    font-size: 0.8rem;
  }
}
@media(min-width:$breakpoint-md){
    padding-top: 40px;
    padding-bottom: 120px;
    .fs_47 {
      font-size: 1.359rem;
    }
    .fs_56 {
      font-size: 2.003rem;
    }
    .fs_19_1 {
        font-size: .8rem;
    }
}
@media(max-width:$breakpoint-sm){
  padding-top: 22px;
  padding-bottom: 81px;
}
}
// feature
.feature_title{
  font-size: 2.813rem;
  line-height: 1;
}
.feature_card{
  .card{
    border-radius: 0.938rem;
    border:none;
    padding:1.25rem 2.65rem;
    .icon {
      width: 67px;
      margin-right: 1.25rem;
    }

    .card-text {
      font-size: 1.125rem;
    }
  }
 
  @media(min-width:$breakpoint-lg){
    
      .card {
        padding: 1rem 2rem;
        height:100%;
         .icon {
            width: 50px;
            margin-right: 1.2rem;
          }
          .card-text,.card-title {
              font-size: 1rem;
          }
      }
      
    }
  
  @media(min-width:$breakpoint-md){
    .card {
      padding: 1rem .5rem;
      .icon {
        width: 39px;
        margin-right: 0.5rem;
      }
      .card-title{
        font-size: 1rem; 
      }
      .card-text {
        font-size: 0.8rem;
      }
    }
  }
 
}
// best company
 .company_logo{
    width:auto;
    height: 40px;
    @media(min-width:$breakpoint-md){
      height: 33px;
      .mb-26 {
          margin-bottom: 6.25rem !important;
      }
    }
  }
// testimonial
.testimonial{
  .title{
    line-height:1.217;
  }
  .testimonial_img {
      width: 100%;              /* full width of parent */
      max-width: 396px;         /* won’t stretch bigger than 396px */
      aspect-ratio: 396 / 460;
      margin-right: 2.438rem;
      // overflow: hidden;
      .customer_img, .background {
        border-radius: 15px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .bg_cover {
        left: -68px;
        z-index: -1;
        top: 70px;
      }
      .dots{
        aspect-ratio: 1;
        height: auto;
        &.gray{
          top: -46px;
          left: -67px;
          z-index:-2;
        }
        &.blue{
          bottom: -119px;
          right: 149px;
          z-index: -2;
        }
      }
  }
  .star_img {
    width: 35px;
    height: 34px;
  } 
  .comma_img {
    height: 58px;
    width: 78px;
    img {
      object-fit: cover;
    }
  }
  .person_detail{
    .title{
      line-height: 0.767;
    }
    .designation{
      font-style: italic;
    }
  }
  .review{
    padding-top: 3.563rem;
    padding-bottom: 3rem;
    .review_text{
      font-size: 1.75rem;
      line-height: 1.6;
    }
  }



  @media(min-width:$breakpoint-xl){
    .testimonial_img {
        max-width: 343px;
    }
    .review{
      .review_text {
          font-size: 1.5rem;
          line-height: 1.5;
        }
      }
    .mb-41 {
        margin-bottom: 9rem !important;
    }
  }
  @media(min-width:$breakpoint-lg){
    .mb-41 {
      margin-bottom: 5rem !important;
    }
    .fs_53 {
      font-size: 2.788rem;
    }
    .testimonial_img {
      width: 100%;
      max-width: 270px;
    }
    .review{
      .review_text {
        font-size: 1.5rem;
      }
    } 
    .comma_img {
      height: 49px;
      width: 67px;
    }
    .rating.mb-8 {
      margin-bottom: 2.75rem !important;
    }
      
  }
  @media(min-width:$breakpoint-md){
    .fs_53 {
      font-size: 1.788rem;
    }
    .comma_img {
      height: 53px;
      width: 71px;
    }
    .review{
      .review_text {
       font-size: 1rem;
     }
    }
    .star_img {
      width: 30px;
      height: 30px;
    }
    .mb-41 {
      margin-bottom: 7rem !important;
    }
  }
  @media(max-width:$breakpoint-sm){
    .mb-41 {
      margin-bottom: 5rem !important;
    }
    .fs_53 {
      font-size: 2.788rem;
    }
    .mb-4 {
      margin-bottom: 7.5rem !important;
    }
    .testimonial_img {
      width: 100%;
      max-width: 342px;
      margin-right: 0rem;
    }
    .review {
      padding-top: 13.563rem;
    }
    .comma_img.mb-4{
      margin-bottom: 3rem !important;
    }
  }
}
    
// cta
.cta{
  padding-top: 176px;
  padding-bottom: 170px;
  &.bg{
    background-color: $bg-light-blue;
  }
  .title{
    line-height: 1;
  }
  .rating{
    .star_img{
      aspect-ratio: 1;
      width: 1.188rem;
    }
  }
  .img_outer{
    margin-left: -140px;
    .dots{
      aspect-ratio: 1;
      height: auto;
      &.blue{
        top: -35px;
        left: 148px;
        z-index:-1;
      }
      &.orange{
        bottom: -48px;
        right:-64px;
        z-index: -1;
      }
    }
  }
  @media(min-width:$breakpoint-md){
    .img_outer {
      margin-left: -363px;
    }
    .fs_56 {
      font-size: 3.003rem;
    }
    p{
      font-size: 0.8rem;
    }
  }
   @media(max-width:$breakpoint-sm){
    padding-top: 114px;
    padding-bottom: 53px;
    .img_outer {
      margin-left: 0px;
      .dots.orange {
        right: 0px;
      }
    }
    .cta_detail{
      margin-top:4rem;
    }
    
}
}
// footer
.footer{
  padding-bottom: 3.125rem;
  padding-top: 3.125rem;
  .logo_footer{
    height: auto;
    width:149px;
  }
  @media(max-width:$breakpoint-sm){
    padding-bottom: 0.125rem;
  }
}
    
// shop page end
