@import './variable';
@mixin button ($padding:0.938rem 2.813rem,$textColor: $text-primary,$font-size:1rem, $backgroundColor: $bg-white,$border:none) {
    display: inline-block;
    width: fit-content;
    padding:$padding;
    border-radius: 1.56rem;
    background-color:$backgroundColor;
    color:$textColor;
    cursor: pointer;
    transition:all 400ms ease; 
    font-family:$primary-font;
    font-weight: normal;
    font-size:$font-size;
    overflow: hidden;
    border:$border;
    line-height: normal;

    &:hover,
    &:focus{
        background-color:lighten($backgroundColor, 4%);
        // background-color: rgba($focusBg, $opacity);
        color:$textColor;  
        outline:none;
        box-shadow:none;
       
    }

    @media (max-width:1200px) {
        padding: 0.9rem 1.857rem;
    }
}
